{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeEach": true
  },
  "rules": {
    "react/no-multi-comp": [0]
  }
}
